In [1]:
#import libraries
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#load CSV file for Wildfire data from Kaggle
csv_file = "Wildfire Data/FW_Veg_Rem_Combined.csv"
wildfire_df = pd.read_csv(csv_file)
wildfire_df.head()

,Unnamed: 0,Unnamed: 0.1,fire_name,fire_size,fire_size_class,stat_cause_descr,latitude,longitude,state,disc_clean_date,...,Wind_cont,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness
0,0,0,NaN,10.0,C,Missing/Undefined,18.105072,-66.753044,PR,2/11/2007,...,3.250413,78.216590,76.793750,76.381579,78.724370,0.0,0.0,0.0,0.0,0.017923
1,1,1,NaN,3.0,B,Arson,35.038330,-87.610000,TN,12/11/2006,...,2.122320,70.840000,65.858911,55.505882,81.682678,59.8,8.4,0.0,86.8,0.184355
2,2,2,NaN,60.0,C,Arson,34.947800,-88.722500,MS,2/29/2004,...,3.369050,75.531629,75.868613,76.812834,65.063800,168.8,42.2,18.1,124.5,0.194544
3,3,3,WNA 1,1.0,B,Debris Burning,39.641400,-119.308300,NV,6/6/2005,...,0.000000,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447
4,4,4,NaN,2.0,B,Miscellaneous,30.700600,-90.591400,LA,9/22/1999,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.214633

In [3]:
wildfire_df.count()

Unnamed: 0          55367
Unnamed: 0.1        55367
fire_name           25913
fire_size           55367
fire_size_class     55367
stat_cause_descr    55367
latitude            55367
longitude           55367
state               55367
disc_clean_date     55367
cont_clean_date     27477
discovery_month     55367
disc_date_final     28708
cont_date_final     25632
putout_time         27477
disc_date_pre       55367
disc_pre_year       55367
disc_pre_month      55367
wstation_usaf       55367
dstation_m          55367
wstation_wban       55367
wstation_byear      55367
wstation_eyear      55367
Vegetation          55367
fire_mag            55367
weather_file        55367
Temp_pre_30         55367
Temp_pre_15         55367
Temp_pre_7          55367
Temp_cont           55367
Wind_pre_30         55367
Wind_pre_15         55367
Wind_pre_7          55367
Wind_cont           55367
Hum_pre_30          55367
Hum_pre_15          55367
Hum_pre_7           55367
Hum_cont            55367
Prec_pre_30         55367
Prec_pre_15         55367
Prec_pre_7          55367
Prec_cont           55367
remoteness          55367
dtype: int64

In [4]:
#drop unnamed columns
wildfire_df = wildfire_df[["fire_name",
                        "fire_size",
                        "fire_size_class",
                        "stat_cause_descr",
                        "latitude",         
                        "longitude",           
                        "state",              
                        "disc_clean_date",   
                        "cont_clean_date",    
                        "discovery_month",   
                        "disc_date_final",    
                        "cont_date_final",     
                        "putout_time",      
                        "disc_date_pre",      
                        "disc_pre_year",     
                        "disc_pre_month",      
                        "wstation_usaf",       
                        "dstation_m",      
                        "wstation_wban",     
                        "wstation_byear",     
                        "wstation_eyear",      
                        "Vegetation",          
                        "fire_mag",       
                        "weather_file",        
                        "Temp_pre_30",        
                        "Temp_pre_15",         
                        "Temp_pre_7",          
                        "Temp_cont",        
                        "Wind_pre_30",        
                        "Wind_pre_15",         
                        "Wind_pre_7",          
                        "Wind_cont",         
                        "Hum_pre_30",         
                        "Hum_pre_15",          
                        "Hum_pre_7",           
                        "Hum_cont",      
                        "Prec_pre_30",        
                        "Prec_pre_15",         
                        "Prec_pre_7",          
                        "Prec_cont",           
                        "remoteness"]]
wildfire_df = wildfire_df.rename(columns={"Temp_pre_30": "temp_pre_30", "Temp_pre_15": "temp_pre_15","Temp_pre_7": "temp_pre_7","Temp_cont":"temp_cont", "Vegetation": "vegetation","Wind_pre_30": "wind_pre_30","Wind_pre_15": "wind_pre_15","Wind_pre_7": "wind_pre_7", "Wind_cont": "wind_cont", "Hum_pre_30": "hum_pre_30", "Hum_pre_15": "hum_pre_15", "Hum_pre_7": "hum_pre_7", "Hum_cont": "hum_cont", "Prec_pre_30": "prec_pre_30", "Prec_pre_15": "prec_pre_15","Prec_pre_7": "prec_pre_7", "Prec_cont": "prec_cont"})

wildfire_df

,fire_name,fire_size,fire_size_class,stat_cause_descr,latitude,longitude,state,disc_clean_date,cont_clean_date,discovery_month,...,wind_cont,hum_pre_30,hum_pre_15,hum_pre_7,hum_cont,prec_pre_30,prec_pre_15,prec_pre_7,prec_cont,remoteness
0,NaN,10.0,C,Missing/Undefined,18.105072,-66.753044,PR,2/11/2007,NaN,Feb,...,3.250413,78.216590,76.793750,76.381579,78.724370,0.0,0.0,0.0,0.0,0.017923
1,NaN,3.0,B,Arson,35.038330,-87.610000,TN,12/11/2006,NaN,Dec,...,2.122320,70.840000,65.858911,55.505882,81.682678,59.8,8.4,0.0,86.8,0.184355
2,NaN,60.0,C,Arson,34.947800,-88.722500,MS,2/29/2004,NaN,Feb,...,3.369050,75.531629,75.868613,76.812834,65.063800,168.8,42.2,18.1,124.5,0.194544
3,WNA 1,1.0,B,Debris Burning,39.641400,-119.308300,NV,6/6/2005,6/6/2005,Jun,...,0.000000,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447
4,NaN,2.0,B,Miscellaneous,30.700600,-90.591400,LA,9/22/1999,NaN,Sep,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.214633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55362,IMPACT,6289.0,G,Missing/Undefined,39.180000,-96.784167,KS,10/15/2015,NaN,Oct,...,3.804803,65.671410,61.839572,54.625698,55.042092,35.4,8.2,0.0,249.0,0.331501
55363,BUTTE,70868.0,G,Missing/Undefined,38.342719,-120.695967,CA,9/9/2015,10/1/2015,Sep,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683
55364,WILLOW,5702.0,G,Arson,37.262607,-119.511139,CA,7/25/2015,NaN,Jul,...,2.529158,43.755556,43.755556,44.443975,35.924406,0.0,0.0,0.0,0.0,0.097682
55365,BARKER,3261.0,F,Miscellaneous,40.604300,-123.080450,CA,7/31/2015,9/12/2015,Jul,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206
55366,VALLEY,76067.0,G,Missing/Undefined,38.843988,-122.759707,CA,9/12/2015,NaN,Sep,...,1.208073,50.521912,46.310627,37.178571,58.063802,0.3,0.3,0.0,18.8,0.167305

In [5]:
# create database connection
connection_string = "postgres:bootcamp@localhost:5432/wildfire_db"
engine = create_engine(f'postgresql://{connection_string}')

In [6]:
engine.table_names

In [8]:
# load dataframes into database
wildfire_df.to_sql(name='wildfire_info', con=engine, if_exists='append', index=False)