# Lighting Wildfires

#### Dependencies

In [1]:
from config import gkey
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from scipy.stats import linregress
from matplotlib import pyplot as plt

## Create DataFrame from csv 
Selecting perferred column to speed up compute time

In [33]:
# Raw Data
raw_data = pd.read_csv("./Wildfire Data/FW_Veg_Rem_Combined.csv")
print(raw_data.shape)

# Only selecting the columns that i want
df1 = raw_data[['fire_size', 'fire_size_class', 'stat_cause_descr', 'latitude', 'longitude', 'state', 'disc_date_final', 'putout_time' ]]
print(df1.shape)

# Filtering for 'lighting'
df2 = df1[df1['stat_cause_descr'] == 'Lightning' ]
print(df2.shape)

(55367, 43)
(55367, 8)
(8218, 8)

##### Data

In [37]:
# Reset index
df3 = df2
df3
# Reformat all date column
# Rename columns

,fire_size,fire_size_class,stat_cause_descr,latitude,longitude,state,disc_date_final,putout_time
36,1420.0,F,Lightning,33.241800,-104.912200,NM,7/2/1994 10:48,1 days 00:00:00.000000000
40,5.0,B,Lightning,40.834700,-112.806400,UT,8/14/2006 21:30,1 days 00:00:00.000000000
64,1.5,B,Lightning,39.205000,-105.188333,CO,7/31/1996 11:45,1 days 00:00:00.000000000
79,2.5,B,Lightning,42.364444,-112.232222,ID,7/25/2006 13:36,1 days 00:00:00.000000000
84,108.0,D,Lightning,63.851700,-150.354300,AK,7/1/1997 22:09,26 days 00:00:00.000000000
...,...,...,...,...,...,...,...,...
55330,9211.0,G,Lightning,44.237000,-118.992700,OR,8/12/2015 7:08,85
55331,3082.0,F,Lightning,48.383600,-117.891900,WA,8/14/2015 16:46,111
55332,5200.0,G,Lightning,30.865978,-94.803980,TX,NaN,NaN
55356,4336.0,F,Lightning,34.316000,-112.268300,AZ,8/2/2015 12:19,NaN
55357,4856.0,F,Lightning,29.616667,-94.273333,TX,7/30/2015 16:45,NaN